{% load cache contrib_tags static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <title>{% block titulo %}{% endblock %} - SOLAR | {{ config.NOME_INSTITUICAO }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- google font -->
    <!-- <link href="http://fonts.googleapis.com/css?family=Aclonica:regular" rel="stylesheet" type="text/css"/> -->
    <!-- styles -->
    {% block default_css %}
    {% load compress %}
        {% compress css %}
        <link type="text/css" href="{% static "css/bootstrap.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/DT_bootstrap.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/stilearn.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/stilearn-responsive.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/stilearn-helper.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/datepicker.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "js/select2/3.5.2/select2.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "js/select2/3.5.2/select2-bootstrap.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/redactor.min.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/jquery.pnotify.default.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/hopscotch.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/sisat.css" %}" rel="stylesheet">
        <link type="text/css" href="{% static "css/font-awesome.5.15.1.all.min.css" %}" rel="stylesheet">
        {% endcompress %}
        <link type="text/css" href="{% static "css/chat-solar.css" %}" rel="stylesheet">
        <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    {% endblock default_css %}
    <link type="text/css" href="{% static "css/animate.css" %}" rel="stylesheet">
    {% block css_app %}
    {% endblock %}
    <style>
        .header { border-color: {{config.COR_HEADER_BG}}; background: {{config.COR_HEADER_BG}}; }
        .header .row-fluid .span7 span,
        .header .panel-sitename *,
        .header .navbar-inner-small .btn-group a  { color: {{config.COR_HEADER_FONT}}; }

        .side-left, .sidebar > li { border-color: {{config.COR_MENU_BG}}; background: {{config.COR_MENU_BG}}; }
        .sidebar > li > a, .sidebar > li > a:hover { color: {{config.COR_MENU_ICON}}; background: none; }

        @media (min-width: 768px)
        {
            header.header { background-image: url('{{config.LOGO_MENU}}'); background-position: center center; background-size: auto 50px; background-repeat: no-repeat; }
        }
    </style>
</head>
<body {% if angular_app %}ng-app="{{ angular_app }}"{% elif config.SHOW_SIDEBAR_PROCESSOS_PENDENTES and request.user.servidor.defensor or angular %}ng-app="SisatApp"{% endif %}>
<!-- section cabecalho -->
{% mensagem_producao %}
<input id="EDEFENSOR_ADONIS_HOSTNAME" value="{{ EDEFENSOR_ADONIS_HOSTNAME }}" type="hidden" />
<input id="EDEFENSOR_ADONIS_PORT" value="{{ EDEFENSOR_ADONIS_PORT }}" type="hidden" />
<header class="header">
    <!-- navbar helper -->
    <div class="navbar-helper">
        <div class="row-fluid">
            <!-- painel nome-site -->
            <div class="span4">
                <div class="panel-sitename pull-left">
                    <h1>
                        <a href="{% url "index" %}" title="Solução Avançada em Atendimento de Referência">
                            SOLAR
                        </a>
                        <div>
                            <small style="font-size: 14px; margin-top: -5px; float: right;">
                                v{% get_version %} <span title="executando no servidor '{% get_application_name %}'">({% get_application_id %})</span>
                            </small>
                        </div>
                    </h1>
                </div>
                {% include 'barra_direita.html' %}
            </div>
            <!--/painel nome-site-->
            {% include 'menu_usuario.html' %}
        </div>
    </div>
    <!--/nav bar helper-->
</header>
<!-- /section cabecalho -->
<!-- section conteudo -->
<section class="section">
    <div class="row-fluid">
        <!-- span menus -->
        <div class="span1">
            <aside class="side-left">
                <ul class="sidebar">
                    {% if perms.atendimento.view_atendimento or perms.processo.view_processo or perms.assistido.add_pessoa or perms.atendimento.add_tarefa %}
                    <li>
                        <a href="#"  rel="tooltip" data-placement="bottom" title="Pesquisar">
                            <div class="helper-font-24">
                                <i class="fas fa-search"></i>
                            </div>
                            <span class="sidebar-text">Buscar</span>
                        </a>
                        <ul class="sub-sidebar-form corner-top shadow-white">
                            <li class="title muted">Busca Rápida de {{config.NOME_MODULO_ATENDIMENTO}}s/Processos</li>
                            <li>
                                <form method="GET" action="{% url 'busca_rapida' %}">
                                    <div class="input-append">
                                        <input type="text" name="filtro" placeholder="Nº do {{config.NOME_MODULO_ATENDIMENTO}}/Processo" autocomplete="off">
                                        <button type="submit" class="btn">
                                            <i class="fas fa-search"></i>
                                        </button>
                                    </div>
                                </form>
                            </li>
                            <li class="divider"></li>
                            {% if perms.atendimento.view_atendimento %}
                            <li>
                                <a href="{% url 'agendamento_calendario' %}" class="corner-all" rel="tooltip" data-placement="right" title="Calendário de Agendamentos">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span class="sidebar-text">Calendário de Agendamentos</span>
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'atendimento_buscar' %}" class="corner-all" rel="tooltip" data-placement="right" title="Buscar {{config.NOME_MODULO_ATENDIMENTO}}" >
                                    <i class="fas fa-comments"></i>
                                    <span class="sidebar-text">{{config.NOME_MODULO_ATENDIMENTO}}s</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.processo.view_processo %}
                            <li>
                                <a href="{% url 'processo_listar' %}" class="corner-all" rel="tooltip" data-placement="right" title="Buscar Processos" >
                                    <i class="fas fa-folder"></i>
                                    <span class="sidebar-text">Processos</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.assistido.add_pessoa %}
                            <li>
                                <a href="{% url 'assistido_buscar' %}" class="corner-all" rel="tooltip" data-placement="right" title="Buscar Assistidos" >
                                    <i class="fas fa-users"></i>
                                    <span class="sidebar-text">Assistidos</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.atendimento.add_tarefa %}
                            <li>
                                <a href="{% url 'atendimento_tarefas_buscar' %}" class="corner-all" rel="tooltip" data-placement="right" title="Buscar Tarefas" >
                                    <i class="far fa-check-square"></i>
                                    <span class="sidebar-text">Tarefas</span>
                                </a>
                            </li>
                            {% endif %}
                            {% if perms.atividade_extraordinaria.view_atividade_extraordinaria %}
                            <li>
                                <a href="{% url 'atividade_extraordinaria:buscar' %}" class="corner-all" rel="tooltip" data-placement="right" title="Buscar Atividades Extraordinárias" >
                                    <i class="fas fa-list"></i>
                                    <span class="sidebar-text">Atividades Extraordinárias</span>
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </li>
                    {% endif %}
                    {% if perms.atendimento.view_129 %}
                        <li>
                            <a href="{% url "precadastro_index" %}" rel="tooltip" data-placement="right" title="129" >
                                <div class="helper-font-24">
                                    <i class="fas fa-phone"></i>
                                </div>
                                <span class="sidebar-text">129</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.atendimento.view_reclamacao %}
                        <li>
                            <a href="{% url 'painel_acompanhar_reclamacao' painel='todos' %}" rel="tooltip" data-placement="right" title="Módulo de Reclamações" >
                                <div class="helper-font-24">
                                    <i class="far fa-thumbs-down"></i>
                                </div>
                                <span class="sidebar-text">Reclamações</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.atendimento.view_129 and config.USAR_NOTIFICACOES_ASSISTIDO_VIA_CHATBOT %}
                        <li>
                            <a href="{% url "precadastro_painel" %}" rel="tooltip" data-placement="right" title="Central de Relacionamento com o Cidadão">
                                <div class="helper-font-24" style="min-width: 50px;">
                                    <i class="fas fa-headset"></i>
                                </div>
                                <span class="sidebar-text">CRC</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.atendimento.view_recepcao %}
                        <li>
                            <a href="{% url "recepcao_index" %}" rel="tooltip" data-placement="top" title="Recepção" >
                                <div class="helper-font-24">
                                    <i class="fas fa-book"></i>
                                </div>
                                <span class="sidebar-text">Recepção </span>
                            </a>
                            <ul class="sub-sidebar corner-top shadow-silver-dark">
                                <li>
                                    <a href="{% url 'assistido_buscar' %}?next=" rel="tooltip" data-placement="top" title="Novo Agendamento" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-calendar-plus"></i>
                                        </div>
                                        <span class="sidebar-text">Novo Agendamento</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url "atendimento_documentos_pendentes" %}" rel="tooltip" data-placement="top" title="Receber Documentos Pendentes" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-file-upload"></i>
                                        </div>
                                        <span class="sidebar-text">Doc. Pendentes</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if config.SHOW_DJDOCUMENTS and perms.djdocuments.add_documento %}
                        <li>
                            <a href="{% url "ged:painel_geral" %}" rel="tooltip"
                                data-placement="right" title="Gestor de Documentos">
                                <div class="helper-font-24">
                                    <i class="fas fa-file-signature"></i>
                                </div>
                                <span class="sidebar-text">GED </span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.atendimento.view_defensor %}
                        {% default_menu_comarcas %}
                        {% default_menu_nucleos %}
                        {% default_menu_plantao %}
                    {% endif %}
                    {% if perms.processo.view_processo %}
                        <li class="">
                            <a href="#" title="">
                                <div class="helper-font-24">
                                    <i class="fas fa-folder"></i>
                                </div>
                                <span class="sidebar-text">Processos</span>
                            </a>
                            <ul class="sub-sidebar corner-top shadow-silver-dark">
                                <li>
                                    <a href="{% url 'processo_listar' %}" rel="tooltip" data-placement="top" title="Gerenciar Processos" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-folder"></i>
                                        </div>
                                        <span class="sidebar-text">Processos</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'peticionamento:buscar' %}" rel="tooltip" data-placement="top" title="Gerenciar Peticionamentos" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-university"></i>
                                        </div>
                                        <span class="sidebar-text">Peticionamentos</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'intimacao:painel' %}" rel="tooltip" data-placement="top" title="Gerenciar Avisos Pendentes" >
                                        <div class="helper-font-24">
                                            <i class="fas fas fa-bell"></i>
                                        </div>
                                        <span class="sidebar-text">Avisos Pendentes</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'processo_audiencias' %}" rel="tooltip" data-placement="top" title="Gerenciar Audiências" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-gavel"></i>
                                        </div>
                                        <span class="sidebar-text">Audiências</span>
                                    </a>
                                </li>
                                {% if perms.processo.view_distribuicao %}
                                    <li class="divider"></li>
                                    <li>
                                        <a href="{% url 'distribuicao:distribuir' %}" rel="tooltip" data-placement="top" title="Distribuir Processos Judiciais">
                                            <div class="helper-font-24">
                                                <i class="fas fa-sitemap"></i>
                                            </div>
                                            <span class="sidebar-text">Distribuir Processos</span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'procedimentos:inicio_index' %}" rel="tooltip" data-placement="top" title="Propacs e Procedimentos" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-folder-open color-yellow"></i>
                                        </div>
                                        <span class="sidebar-text">Propacs</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}
                    {% if perms.honorarios.view_honorario %}
                        <li>
                            <a href="{% url 'honorarios_index' %}" rel="tooltip" data-placement="right" title="Central de Honorários">
                                <div class="helper-font-24">
                                    <i class="fas fa-donate"></i>
                                </div>
                                <span class="sidebar-text">Honorários</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.nadep.view_atendimento %}
                        {% default_menu_nadep %}
                    {% endif %}
                    {% if perms.atendimento.view_painel %}
                        <li>
                            <a href="{% url 'painel_index_predios' %}" rel="tooltip" data-placement="right" title="Painel de Senhas">
                                <div class="helper-font-24">
                                    <i class="fas fa-tv"></i>
                                </div>
                                <span class="sidebar-text">Painel</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.relatorios.view_relatorios %}
                        <li>
                            <a href="{% url 'relatorios:index' %}" rel="tooltip" data-placement="right" title="Relatórios" >
                                <div class="helper-font-24">
                                    <i class="fas fa-chart-bar"></i>
                                </div>
                                <span class="sidebar-text">Relatórios</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if config.SHOW_INSCRICAO_PLANTAO and perms.defensor.view_inscricao_plantao %}
                        <li>
                            <a href="{% url 'defensor_plantao_listar' %}" rel="tooltip" data-placement="right" title="Inscrição para editais de plantão" >
                                <div class="helper-font-24">
                                    <i class="fas fa-user-plus"></i>
                                </div>
                                <span class="sidebar-text">Inscrição Plantão</span>
                            </a>
                        </li>
                    {% endif %}
                    {% if perms.evento.add_evento or perms.defensor.add_atuacao or perms.itinerante.view_evento %}
                        <li class="">
                            <a href="#" title="">
                                <div class="helper-font-24">
                                    <i class="fas fa-cogs"></i>
                                </div>
                                <span class="sidebar-text">Admin</span>
                            </a>
                            <ul class="sub-sidebar corner-top shadow-silver-dark">
                                {% if perms.evento.add_evento %}
                                    <li>
                                        <a href="{% url "evento_index" %}" rel="tooltip" data-placement="top" title="Agendas e Eventos">
                                            <div class="helper-font-24">
                                                <i class="fas fa-calendar-alt"></i>
                                            </div>
                                            <span class="sidebar-text">Agendas</span>
                                        </a>
                                    </li>
                                    {% if perms.defensor.add_atuacao %}
                                        <li class="divider"></li>
                                    {% endif %}
                                {% endif %}
                                {% if perms.defensor.add_atuacao %}
                                    <li>
                                        <a href="{% url "defensor_atuacao" %}" rel="tooltip" data-placement="top" title="Atuações" >
                                            <div class="helper-font-24">
                                                <i class="fas fa-user-tie"></i>
                                            </div>
                                            <span class="sidebar-text">Defensores</span>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                {% endif %}
                                {% if perms.contrib.change_servidor %}
                                    <li>
                                        <a href="{% url "listar_servidor" %}" rel="tooltip" data-placement="top" title="Perfis" >
                                            <div class="helper-font-24">
                                                <i class="fas fa-user-friends"></i>
                                            </div>
                                            <span class="sidebar-text">Servidores</span>
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                {% endif %}
                                {% if perms.itinerante.view_evento %}
                                <li>
                                    <a href="{% url "itinerante_index" %}" rel="tooltip" data-placement="top" title="Itinerantes" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-truck"></i>
                                        </div>
                                        <span class="sidebar-text">Itinerante</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% endif %}
                                {% if perms.comarca.change_predio %}
                                <li>
                                    <a href="{% url "comarca_buscar_predio" %}" rel="tooltip" data-placement="top" title="Prédios e Andares" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-building"></i>
                                        </div>
                                        <span class="sidebar-text">Prédios</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% endif %}
                                {% if perms.contrib.change_defensoria %}
                                <li>
                                    <a href="{% url "defensoria_buscar" %}" rel="tooltip" data-placement="top" title="Defensorias e Setores" >
                                        <div class="helper-font-24">
                                            <i class="fas fa-house-user"></i>
                                        </div>
                                        <span class="sidebar-text">Defensorias</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% endif %}
                                {% if perms.assistido.change_perfilcamposobrigatorios %}
                                <li>
                                    <a href="{% url "campos_obrigatorios_index" %}" rel="tooltip" data-placement="top" title="Configurar Campos Obrigatórios">
                                        <div class="helper-font-24">
                                            <i class="fas fa-tasks"></i>
                                        </div>
                                        <span class="sidebar-text">Campos</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                {% endif %}
                                {% if user.is_superuser %}
                                <li>
                                    <a href="{% url "perfil_admin" %}" rel="tooltip" data-placement="top" title="Configurações Avançadas">
                                        <div class="helper-font-24">
                                            <i class="fas fa-puzzle-piece"></i>
                                        </div>
                                        <span class="sidebar-text">Avançado</span>
                                    </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="{% url 'admin:index' %}" target="_blank" rel="tooltip" data-placement="top" title="Django Admin">
                                        <div class="helper-font-24">
                                            <i class="fas fa-tools"></i>
                                        </div>
                                        <span class="sidebar-text">Django</span>
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>
                    {% endif %}
                    {% cache 600 default_menu_extra %}
                        {% default_menu_extra %}
                        {% default_menu_ajuda %}
                    {% endcache %}
                </ul>
            </aside>
        </div>
        <!-- span menus -->
        <!-- span content -->
        <div id="ContentSide" class="span11" {% if angular %}ng-controller="{{ angular }}" {% endif %}>
            <div class="content">
                <!-- content-header -->
                <div class="content-header">
                    <div id="seta_processos" style="display: none; top: -10px; background-color: #BF1E4B;position: relative;right: -20px;height: 61px;width: 70px; color: white;float: right; margin-bottom: -9px; cursor: pointer;" data-closed="true">
                        <a>
                            <i class="fas fa-arrow-right helper-font-32 color-silver" style="margin-top: 15px;margin-left: 20px;"></i>
                        </a>
                    </div>
                    <!-- bloco para o cabecalho da pagina -->
                    {% block cabecalho_app %}
                    {% endblock %}
                    <!-- /bloco para o cabecalho da pagina -->
                </div>
                <!-- /content-header -->
                <!-- bloco para o menu interno -->
                {% block menu_app %}
                {% endblock %}
                <!-- /bloco para o menu interno -->
                <div class="content-body">
                    <!-- bloco para o conteudo -->
                    {% block conteudo_app %}
                    {% endblock %}
                    <!-- /bloco para o conteudo -->
                </div>
            </div>
        </div>
        <!-- /span content -->

        {% if config.SHOW_SIDEBAR_PROCESSOS_PENDENTES and request.user.servidor.defensor %}
        <!-- Barra notificaoes Processos pendentes-->
        <div id="ProcessoSide" class="span2" style="display: none;" ng-controller="ProcessoPendenteCtrl" ng-init="init({{ request.user.servidor.defensor.id }}, '{{ request.GET.processo }}')">
            <!-- side-right -->
            <aside class="side-right">
                <!-- sidebar-right -->
                <div class="sidebar-right">
                    <!--sidebar-right-header-->
                    <div class="sidebar-right-header">
                        <div class="text-center">
                            <span class="bold color-red"><i class="fas fa-warning"></i> [[ processos.length ]] PROCESSO(S)<br> PENDENTE(S)</span>
                        </div>
                    </div>
                    <div class="sidebar-right-content">
                        <div class="tab-content">
                            <!--alternative 1-->
                            <div class="tab-pane active" id="alt1">
                                <!--divider-->

                                <!-- side-task -->
                                <div class="color-red text-center">Devem ser cadastrados no sistema</div>
                                <div class="side-task" ng-show="selecionado">
                                    <a class="btn-link" ng-click="selecionado=null">
                                        <i class="fas fa-arrow-circle-left color-blue"></i> Voltar
                                    </a>
                                    <div class="task fade in text-center">
                                        <strong>Processo selecionado</strong>
                                        <h5 class="bold" style="overflow: hidden;text-overflow: ellipsis;"><i class="fas fa-user"></i> [[selecionado.parte_nome]]</h5>
                                        <span class="task">
                                            <h4>
                                                <a class="btn-link" title="[[selecionado.acao]]">
                                                    <i class="fas fa-bolt color-red"></i> [[selecionado.numero]]
                                                </a>
                                            </h4>
                                        </span>
                                        {% if request.session.nucleo.plantao %}
                                            <div class="text-center text-error " style="white-space: normal;">
                                                <div class="bold">Você está no módulo 'PLANTÃO'</div>
                                                <div>Utilize o botão <b>Processo de Plantão</b> para cadastrar esse processo</div>
                                            </div>
                                        {% else %}
                                            <div class="text-center"><strong>Escolha uma opção:</strong></div>
                                            <div class="text-center">
                                                <a href="{% url 'atendimento_buscar' %}?processo=[[selecionado.numero]]&pendente=true&&filtro=[[selecionado.parte_nome]]"
                                                   class="btn btn-info" rel="tooltip"
                                                   data-original-title="Buscar atendimento (Indicado)">
                                                    <i class="fas fa-comment color-white"></i> Buscar
                                                </a>
                                            </div>
                                            <div class="text-center">Ou</div>
                                            <div class="text-center">
                                                <a href="{% url 'processo_listar' %}?processo=[[selecionado.numero]]&pendente=true" class="btn" rel="tooltip" data-original-title="Criar atendimento para processo">&nbsp;&nbsp;&nbsp;<i class="fas fa-comment-medical color-black"></i> Criar&nbsp;&nbsp;&nbsp;
                                                </a>
                                            </div>
                                        {% endif %}
                                    </div>
                                </div>
                                <!-- /side-task -->

                                <!-- side-task -->
                                <div ng-hide="processos"><img src="{% static "img/loader_16.gif" %}"> Carregando...</div>
                                <input name="filtro_processos" id="filtro_processos" ng-model="filtro_processos"  ng-hide="selecionado || !processos" class="grd-white ng-pristine ng-valid span12" type="text" placeholder="Procurar processo...">
                                <div class="side-task" ng-hide="selecionado || !processos">
                                <div class="accordion" id="accordion_atendimentos">
                                    <!-- INI Prateleria Processos por Mes -->
                                    <div class="accordion-group" ng-repeat="mes in meses | orderBy:'-key'" ng-if="(processos | filter:{mes_referencia:mes.key} | filter:filtro_processos).length">
                                        <div class="accordion-heading">
                                            <a class="accordion-toggle bg-silver color-black collapsed" data-toggle="collapse" data-parent="#accordion_processos_pendentes" data-target="#collapse_processos_pendentes[[$index]]">
                                                <i class="fas fa-calendar-alt muted"></i>
                                                <b title="Último movimento no mês [[ mes.value ]]">[[ mes.value ]]</b>
                                                <span>([[ (processos | filter:{mes_referencia:mes.key} | filter:filtro_processos).length ]])</span>
                                            </a>
                                        </div>
                                        <div id="collapse_processos_pendentes[[$index]]" class="accordion-body collapse" style="height: 0px;">
                                            <div class="accordion-inner">
                                                <div ng-repeat="vara in varas" ng-if="(processos | filter:{mes_referencia:mes.key} | filter:{vara:vara.id} | filter:filtro_processos).length">
                                                    <span><i class="fas fa-chevron-right"></i> [[ vara.nome ]]</span> ([[ (processos | filter:{mes_referencia:mes.key} | filter:{vara:vara.id}).length ]])
                                                    <div class="task fade in" ng-repeat="processo in processos | filter:{mes_referencia:mes.key} | filter:{vara:vara.id} | filter:filtro_processos">
                                                        <i class="fas fa-ban color-silver-dark" title="cancel"></i>
                                                        <span class="task-desc">
                                                            <a class="btn-link" bs-popover="popover('<b>[[processo.parte_nome]]</b>', '<small><dl><dt>Classe</dt><dd>[[processo.acao]]</dd><dt>Comarca</dt><dd>[[processo.comarca]]</dd></dl></small><b class=\'text-info\' ng-if=\'!processo.penal\'><i class=\'fas fa-folder\'></i> Processo Comum</b><b class=\'text-error\' ng-if=\'processo.penal\'><i class=\'fas fa-lock\'></i> Processo Penal</b>', 'left')"
                                                               data-trigger="hover" data-container="#popover_processo" ng-click="selecionar(processo)">
                                                                <span ng-class="{'text-error':processo.penal}">[[processo.numero]]</span>
                                                                <a href="[[ get_url_processo_tj('{{ config.URL_PROCESSO_TJ }}', processo.numero, processo.grau, processo.chave) ]]" target="_blank" title="Abrir no {{ config.NOME_PROCESSO_TJ }}" bs-tooltip><i class="fas fa-external-link-alt"></i></a>
                                                            </a>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- FIM Prateleria Processos por Mes -->
                                <div class="divider-content"><span></span></div>
                                <!--divider-->
                            </div>
                            <!--/alternative 1-->
                        </div>
                    </div>
                    <!-- /sidebar-right-content -->
                </div>
                <!-- /sidebar-right -->
            </aside>
            <!-- /side-right -->
        </div>
        <!-- Fim Barra notificaoes Processos pendentes-->
        {% endif %}
    </div>
    <div id="popover_processo"></div>
    {% if config.ATIVA_FUNCIONALIDADE_ACEITE %}
        {% if user.is_authenticated %}
            {% include 'aceite/modal_termo_aceite.html' with servidor=user.servidor %}
        {% endif %}
    {% endif %}

    {% if USAR_EDEFENSOR %}
        {% include 'contrib/popup_solar_chat.html' %}
        <audio id="notificacao_edefensor_001">
            <source src="{% static "audio/clearly_equalizado.mp3" %}" type="audio/mpeg"/>
            Seu navegador não suporta a API de áudio do HTML5. Atualize.
        </audio>
    {% endif %}

    {% if perms.comarca.view_guiche %}
        {% include 'modal_alterar_guiche.html' %}
        {% include 'modal_guiche_conflito.html' %}
    {% endif %}

</section>
<!-- /section conteudo -->

<!-- section rodape -->
<footer>
    <a rel="to-top" data-target="#top"><i class="fas fa-arrow-circle-up"></i></a>
</footer>
<!-- section rodape -->
{% block default_js %}
    <!-- ============== javascript ============== -->
    <!--[if lt IE 8]>
        <script src="{% static "js/json3.min.js" %}"></script>
        <![endif]-->
    <!--[if lt IE 9]>
        <script src="{% static "js/html5shiv.js" %}"></script>
        <![endif]-->
    {% load compress %}
    <script type="text/javascript" src="{% static "js/utils.js" %}"></script>
    {% compress js %}
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-timeago/1.6.3/jquery.timeago.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-timeago/1.6.3/jquery.timeago.pt-br.js" %}"></script>
    <script type="text/javascript" src="{% static "js/uniform/jquery.uniform.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validate/jquery.validate.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validate/jquery.validate.methods.js" %}"></script>
    <script type="text/javascript" src="{% static "js/validate/jquery.metadata.js" %}"></script>
    <script type="text/javascript" src="{% static "js/peity/jquery.peity.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery-extend.js" %}"></script>
    <script type="text/javascript" src="{% static "js/jquery.maskMoney.js" %}"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/globalize/globalize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/globalize/globalize.culture.pt-BR.js" %}"></script>
    {% endcompress %}
    {% compress js %}
    <script type="text/javascript" src="{% static "js/angular-ui/jquery.maskedinput.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular.1.2.14.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-locale_pt-br.js" %}"></script>
    <script type="text/javascript" src="{% static "js/ui-utils.0.1.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-sanitize.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-strap.0.7.3.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-strap/bootstrap-datepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-strap/bootstrap-timepicker.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-route.1.2.14.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular-resource.1.2.14.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular_keep_values/angular-keep-values.js" %}"></script>
    <script type="text/javascript" src="{% static "js/angular.maskMoney.js" %}"></script>
    {% endcompress %}
    <script type="text/javascript" src="{% static "js/ui-bootstrap-tpls-0.11.2.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/holder.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pnotify/jquery.pnotify.js" %}"></script>
    <script type="text/javascript" src="{% static "js/pnotify/jquery.pnotify.extra.js" %}"></script>
    <script type="text/javascript" src="{% static "js/stilearn-base.js" %}"></script>
    <script type="text/javascript" src="{% static "js/select2/3.5.2/select2.js" %}"></script>
    <script type="text/javascript" src="{% static "js/hopscotch.js" %}"></script>
    <script type="text/javascript" src="{% static "js/chronus.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/gerador-validador-cpf/CPF.min.js" %}"></script>
    <script type="text/javascript">
        Chronus.base_url = "{{ CHRONUS_URL }}";
        window.URL_DO_ASSINADOR = "{{ config.URL_DO_ASSINADOR }}";
        window.PORTA_DO_ASSINADOR = "{{ config.PORTA_DO_ASSINADOR }}"
    </script>
    <script type="text/javascript" src="{% static "js/app.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/controllers_global.js" %}?v={{ config.JSVERSION }}"></script>

    <script type="text/javascript" src="{% static "js/app/services/services_assistido.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/services/services_atendimento.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/services/services_contrib.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/services/services_core.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/services/services_defensor.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/services/services_evento.js" %}?v={{ config.JSVERSION }}"></script>
    <script type="text/javascript" src="{% static "js/app/services/services_indeferimento.js" %}?v={{ config.JSVERSION }}"></script>

    <script type="text/javascript" src="{% static 'django_js_reverse/js/reverse.js' %}"></script>
{#    <script type="text/javascript" src="{% static "js/notificacoes/signo.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "js/notificacoes/signo-angular1.2.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "js/notificacoes/signo-angular1.2_ok.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "js/notificacoes/signo-angular1.2.js" %}"></script>#}
{#    <script type="text/javascript" src="{% static "js/notificacoes/signo_angular.js" %}"></script>#}
{% endblock default_js %}

{% if config.USAR_SMS and config.SERVICO_SMS_DISPONIVEL %}
    <script type="text/javascript" src="{% static "js/envia-sms.js" %}?v={{ config.JSVERSION }}"></script>
{% endif %}
{% if USAR_EDEFENSOR %}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/6.26.0/polyfill.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/@adonisjs/websocket-client@1.0.9/dist/Ws.browser.js"></script>
    <script type="text/javascript" src="{% static "js/chat-solar.js" %}?v={{ config.JSVERSION }}"></script>
{% endif %}

{% block js_app %}
{% endblock %}
<script type="application/javascript">
    $.fn.extend({
        animateCss: function (animationName, callback) {
            var animationEnd = (function (el) {
                var animations = {
                    animation: 'animationend',
                    OAnimation: 'oAnimationEnd',
                    MozAnimation: 'mozAnimationEnd',
                    WebkitAnimation: 'webkitAnimationEnd',
                };

                for (var t in animations) {
                    if (el.style[t] !== undefined) {
                        return animations[t];
                    }
                }
            })(document.createElement('div'));

            this.addClass('animated ' + animationName).one(animationEnd, function () {
                $(this).removeClass('animated ' + animationName);

                if (typeof callback === 'function') callback();
            });

            return this;
        },
    });

</script>
{% if SIGNO_ENABLE %}
    <!-- signo -->
    <script type="text/javascript" src="{% static "js/notificacoes/signo-jquery.js" %}"></script>
    {% if user|cpf_servidor %}
        <script type="text/javascript">
            Signo.connection('{{ SIGNO_WEBSOCKET_URL }}', '{{ user|cpf_servidor|base64encode }}', 'SOLAR');
        </script>
    {% endif %}
    <!-- end -->
{% endif %}
<script type="text/javascript">
    var comarca_nome = $('#comarca_nome');
    comarca_nome.text(comarca_nome.text().substring(0,25));

    function global_fechar_box_processos(closed)
    {

        $('#seta_processos').attr('data-closed', closed);

        if(closed)
        {
            $('#ContentSide .content').css('margin-left','-2.4%');
            $('i', '#seta_processos').removeClass('fas fa-arrow-right').addClass('fas fa-arrow-left');
            $('#ContentSide').addClass('span11').removeClass('span9');
            $('#ProcessoSide').hide();
        }
        else
        {
            $('#ContentSide .content').css('margin-left','-3.4%');
            $('i', '#seta_processos').removeClass('fas fa-arrow-left').addClass('fas fa-arrow-right');
            $('#ContentSide').addClass('span9').removeClass('span11');
            $('#ProcessoSide').show();
        }
    }

    function global_fechar_seta_processos(closed)
    {
        if(closed)
            $('#seta_processos').hide();
        else
            $('#seta_processos').show();
    }

    // Impede múltiplas submissões em formulários (deve ser habilitado no onsubmit do form)
    function preventMultipleSubmit(form)
    {
        // Rastreia e desabilita botões de envio do formulário
        $(':submit[form=' + $(form).attr('id') + ']').each(function(){
            $(this).attr('disabled', true);
        });
        return true;
    }

    $(document).ready(function () {

        upperText();

        $('#seta_processos').click(function(){

            var closed = $(this).attr('data-closed') != 'true';

            global_fechar_box_processos(closed);

            $.get('/processo/pendente/defensor/relogio/set/', {closed:closed}, function(data){
            });

        });

        //Desativa evento padrao do click em links #
        $('a[href=#]').on('click', function (e) {
            e.preventDefault();
        });

        $('input[data-mask]').each(function () {
            $(this).mask($(this).attr('data-mask'));
        });

        var mensagens = {{ messages|jsonmsg|safe }};

        for (var i = 0; i < mensagens.length; i++) {
            show_stack(mensagens[i].msg, false, mensagens[i].tag);
        }

        var ativarSelect2 = $(".ativar-select2");

        if(ativarSelect2.length > 0){
            ativarSelect2.select2({dropdownAutoWidth : true});
        }

        var ativarDatepicker = $(".ativar-datepicker");

        if(ativarDatepicker.length > 0) {
            ativarDatepicker.datepicker();
        }

        {% block js_ready_app %}

        {% endblock %}

        $('#btn-ajuda').attr('disabled', ($('#dropdown-menu-ajuda').find('li').length===0));

        $('.tour').click(function(){
            var tour_id = $(this).attr('data-tour-id');
            var tour = tours[tour_id];
            hopscotch.endTour(true);
            hopscotch.startTour(tour);
        });

        // corrige tamanho do menu lateral esquerdo
        $('aside.side-left').css('min-height', $('ul.sidebar').height());

        // Controle de Guichê de Atendimento para o Painel de Senhas
        $("#btn-alterar-guiche").on("click", function() {
            init();

            $.ajax({
                url: "{% url 'comarca_get_predios' %}",
                data: {usuario_id: {{ request.user.servidor.id }},
                csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                type: "POST",
                success: function(dados) {
                    if (dados['success']) {

                        $("#modal-alterar-guiche").modal();

                        for (i=0; i<dados['predios'].length; i++) {

                            var opcoes = document.getElementById('predios');
                            var opcao = document.createElement("option");

                            opcao.text = dados['predios'][i]['predio'];
                            opcao.value = dados['predios'][i]['id'];

                            opcoes.add(opcao);
                        }

                        if (dados['predios'].length == 1) {
                            $("#predios").hide();
                            $("#predios").val(dados['predios'][0]['id']);
                            $("#guicheAtual").text(guiches[0]['numero']);
                        }

                    }
                    else {
                        show_stack_error("Ocorreu um erro. Por favor tente novamente.");
                    }
                }
            });
        });

        $("#btn-guiche-conflito").on("click", function() {
            var predio = $("#predios").val();
            var guiche = $("#guiche").val();

            if (predio && guiche) {
                $.ajax({
                    url: "{% url 'comarca_salvar_guiche' %}",
                    data: {usuario_id: $("#usuario").val(),
                            guiche: guiche,
                            predio: predio,
                            force: true,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                    type: "POST",

                    success: function(dados) {
                        if (dados['success']) {
                            $("#modal-guiche-conflito").modal('toggle');
                            show_stack_success("Guichê alterado com sucesso!");
                        }
                        else {
                            show_stack_error("Ocorreu um erro ao alterar o guichê. Por favor, tente novamente.");

                        }
                    }
                });
            }
            else {
                show_stack_error("Por favor preencha todos os campos.");
            }
        });

        $("#btn-salvar-guiche").on("click", function() {
            var predio = $("#predios").val();
            var guiche = $("#guiche").val();

            if (predio && guiche) {
                $.ajax({
                    url: "{% url 'comarca_salvar_guiche' %}",
                    data: {usuario_id: $("#usuario").val(),
                            guiche: guiche,
                            predio: predio,
                            force: false,
                            csrfmiddlewaretoken: '{{ csrf_token }}'
                        },
                    type: "POST",

                    success: function(dados) {
                        if (dados['success']) {
                            $("#modal-alterar-guiche").modal('toggle');
                            show_stack_success("Guichê alterado com sucesso!");
                            $('#alerta').hide();
                        }
                        else {
                            $('#modal-alterar-guiche').modal('toggle');
                            $('#servidor-conflito').text(dados['servidor_antigo']);
                            $('#modal-guiche-conflito').modal('toggle');

                        }
                    }
                });
            }
            else {
                show_stack_error("Por favor preencha todos os campos.");
            }
        });

        $('#predios').on('change', '', function (e) {
            var guiche = guiches.find(guiche => String(guiche.predio) === $('#predios').val());
            $("#guicheAtual").text(guiche ? String(guiche['numero']) : 'Não Possui');
        });

    });

    var guiches = null;

    function init() {

        $("#guiche").val('');
        $("#predios").find('option').remove();
        $('#alerta').hide();
        $("#guicheAtual").text('Selecione um prédio');
        var opcoes = document.getElementById('predios');
        var opcao = document.createElement("option");

        opcao.text = "Selecione um prédio";
        opcao.value = "";
        opcao.selected = true;
        opcao.disabled = true;

        opcoes.add(opcao);

        $.ajax({
            url: "{% url 'painel_get_guiche' %}",
            data: {usuario_id: {{ request.user.servidor.id }},
                   csrfmiddlewaretoken: '{{ csrf_token }}'
            },
            type: "POST",

            success: function(dados) {
                if (dados['success']) {
                    guiches = dados['guiches'];
                    var guiche = $("#guiche").val();
                    var guiche = guiches.find(guiche => String(guiche.predio) === $('#predios').val());
                    $("#guicheAtual").text(guiche ? String(guiche['numero']) : 'Não Possui');
                }
                else {
                    show_stack_error("Ocorreu um erro. Por favor tente novamente.");
                }
            }
        });
    }

    function upperText() {

        // Para tratar o colar
        jQuery('input[type=text]:not([ui-mask])').bind('paste', function (e) {
            var el = jQuery(this);
            if(!el.hasClass("noupper") && !el.hasClass("select2-input")){
                var text = jQuery(el).val();
                el.val(text.toUpperCase());
            }
        });

        // Para tratar quando é digitado
        jQuery('input[type=text]:not([ui-mask]):not([mask-money])').bind('keyup', function (e) {
            // Remember original caret position
            var el = jQuery(this);
            if(!el.hasClass("noupper") && !el.hasClass("select2-input")){
                var caretPosition = getCaretPosition(this);
                // Uppercase-ize contents
                this.value = this.value.toUpperCase();
                // Reset caret position
                setCaretPosition(this, caretPosition);
            }
        });

    }

    // Thanks http://blog.vishalon.net/index.php/javascript-getting-and-setting-caret-position-in-textarea/
    function getCaretPosition(ctrl) {
        var CaretPos = 0;    // IE Support
        if (document.selection) {
            ctrl.focus();
            var Sel = document.selection.createRange();
            Sel.moveStart('character', -ctrl.value.length);
            CaretPos = Sel.text.length;
        }
        // Firefox support
        else if (ctrl.selectionStart || ctrl.selectionStart == '0') {
            CaretPos = ctrl.selectionStart;
        }

        return CaretPos;
    }

    function setCaretPosition(ctrl, pos) {
        if (ctrl.setSelectionRange) {
            ctrl.focus();
            ctrl.setSelectionRange(pos, pos);
        }
        else if (ctrl.createTextRange) {
            var range = ctrl.createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    }
    
</script>

{% include 'google_analytics.html' %}

</body>
</html>
