{% extends '../base.html' %}

{% block content %}

<form method="POST" enctype="multipart/form-data" action=".">
 
    <form>

        <!-- Security token -->
        {% csrf_token %}

        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title">
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Theme</label>
            <input type="text" class="form-control" name="theme">
        </div>
       
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    <!-- Using the formset 
    {{ form.as_p }}-->
     
</form>

{% endblock %}