{% extends '../base.html' %}

{% block content %}

<div class="main">
         
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Theme</th>
                <th scope="col">Options <span align="right"><a href="/cases/create/">New X-File Case</a></span></th>
              </tr>
            </thead>
            <tbody>
                {% for data in dataset %}
                    <tr>
                        <th scope="row">{{ data.id }}</th>
                        <td>{{ data.title }}</td>
                        <td>{{ data.theme }}</td>
                        <td>
                            <a href="/cases/{{ data.id }}/update">Update</a>
                            <a href="/cases/{{ data.id }}/delete">Delete</a>
                            <a href="/cases/{{ data.id }}">Details</a>
                        </td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No Cases investigated and registered at moment</td>
                    </div>
                {% endfor %}    
            </tbody>
          </table>
    
    </div>

{% endblock %}