{% extends '../base.html' %}

{% block content %}

<div class="main">
    
        <div class="alert alert-success" role="alert">
            <h2>X-Files Cases List <a href="/cases/create/" class="btn btn-success">New X-File Case</a></h2>
        </div>
         
        <table class="table table-success">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Theme</th>
                <th scope="col">Options</th>
              </tr>
            </thead>
            <tbody>
                {% for data in dataset %}
                    <tr>
                        <th scope="row">{{ data.id }}</th>
                        <td>{{ data.title }}</td>
                        <td>({{ data.theme }})</td>
                        <td>?</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No Cases investigated and registered at moment</td>
                    </div>
                {% endfor %}    
            </tbody>
          </table>
    
    </div>

{% endblock %}