{% extends '../base.html' %}

{% block content %}

<form method="post" action="/cases/update/">
 
        <!-- Security token -->
        {% csrf_token %}

        <input type="hidden" name="id" id="id" value="{{ obj.id }}">
       
        Title
        <input type="text" name="title" id="title" value="{{ obj.title }}">

        Theme
        <input type="text" name="theme" id="theme" value="{{ obj.theme }}">

        <button type="submit">Submit</button>
    <!-- Using the formset 
    {{ form.as_p }}-->
     
</form>

{% endblock %}