{% extends '../base.html' %}

{% block content %}

<form method="post" action="/cases/update/">
 
        <!-- Security token -->
        {% csrf_token %}

        <div class="alert alert-success" role="alert">
            <h2>X-Files Case Update</h2>
        </div>

        <input type="hidden" class="form-control" name="id" id="id" value="{{ obj.id }}">
       
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" value="{{ obj.title }}">
        </div>

        <div class="mb-3">
            <label for="title" class="form-label">Theme</label>
            <input type="text" class="form-control" name="theme" id="theme" value="{{ obj.theme }}">
        </div>
       
        <button type="submit" class="btn btn-success">Submit</button>
    <!-- Using the formset 
    {{ form.as_p }}-->
     
</form>

{% endblock %}